/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #11101d !important;
  /* position: relative; */
  /* margin: var(--header-height) 0 0 0; */
  /* padding: 0 1rem; */
}

/* SIDEBAR */

.home-section {
  position: relative;
  /* background: #E4E9F7; */
  height: 100vh;
  /* left: 150px; */
  width: calc(100%);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #fff;
  font-size: 35px;
}
.serv-content .card .dullText {
  color: #848385;
  font-size: 15px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}

/* SIDBAR ENDS HERE */
.serv-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 3em;
}

.serv-content .card {
  width: calc(33% - 18px);
  background: #1d1b31;
  color: #000;
  min-height: 270px;
  text-align: center;
  border-radius: 6px;
  padding: 30px 25px;
  cursor: pointer;
  margin-bottom: 3em;
  transition: all 0.3s ease;
}
.serv-content .card .box {
  transition: all 0.3s ease;
}
.serv-content .card:hover .box {
  transform: scale(1.05);
}
.serv-content .card .text {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  margin: 10px 0 7px 0;
}

@media (max-width: 947px) {
  .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width: 690px) {
  .serv-content .card {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.column {
  padding: 1em;
}

.VS img {
  width: 2em;
  height: 2em;
}

.event {
  padding-top: 30px;
  padding-left: 65px;
  color: #82d87b;
}

.match {
  color: #82d87b;
}
.Pool {
  color: #7c8b7a;
}

.time {
  color: #7c8b7a;
}

:root {
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #1d1b31;
  --first-color-light: #afa5d9;
  --white-color: #11101d;

  /*===== Font and typography =====*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 1rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}

a {
  text-decoration: none;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
}

.header__toggle {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img {
  width: 40px;
}

/*===== NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo,
.nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.4rem 0 0.5rem 1.5rem;
}

.nav__logo {
  margin-bottom: 2rem;
  padding-right: 40px !important;
}

.nav__logo-icon {
  font-size: 1.25rem;
  color: white;
}

.nav__logo-name {
  color: white;
  font-weight: 700;
}

.nav__link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

.nav__link:hover {
  color: #82d87b;
}

.nav__icon {
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show {
  left: 0;
}

/*Add padding body movil*/
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active {
  color: #82d87b;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img {
    width: 40px;
    height: 40px;
  }

  .header__img img {
    width: 45px;
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  /*Show navbar desktop*/
  .show {
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

.logo-image {
  width: 3em;
  height: 3em;
  padding-right: 20px;
  /* padding-left: 20px; */
}
.logo-title {
  width: 4em;
  height: 5em;
  padding-bottom: 10px;
  margin-right: 10px;
}
